# 1.What are data structures, and why are they important?
- Data Structures provide the way to store data in a organized manner so that it can be retrived and modified efficiently
 # Importance
 - Efficient Memory management
 - Good data structures make algorithms faster and more efficient.

# 2.Explain the difference between mutable and immutable data types with examples?
- Mutable Data Types are the Data Types That we can modify after assigning to a variable.
  - Eg.- List, Dictionary, Set.
- Immutable Data Types are the Data Types that we can't modify after assigning to a variable.
  - Eg.- int, String , float, tuple   e.t.c

# 3.What are the main differences between lists and tuples in Python?
- Both Support the indexing as it's elements are stored in contiguos memory blocks.
- The Main Difference Between Lists Ans Tuples
   -  Lists are Mutable
   -  Tuples are Immutable
  
# 4.Describe how dictionaries store data?
- Dictionaries Store Data in the form of Key - Value Pairs.
- dictionaries maintain insertion order, meaning the order you insert keys is preserved.
- Accessing values via their corresponding keys is a key characteristic of dictionaries.

# 5.Why might you use a set instead of a list in Python?

- If you want to store unique elements and get rid of reduntant data.
- In the above case, we might use a set instead of a list.

# 6.What is a string in Python, and how is it different from a list?

- **String** is defined as the Sequence of charecters which we access each character in a string with their corresponding index;
  # Differences Between Lists and Strings
  - Lists are Mutable and Strings are Immutable.
  - Lists can store mixed Data Types whereas Strings can store only characters.

# 7.How do tuples ensure data integrity in Python?
- tuples are Immutable Once we created we can't modify it.
- Hence, In this way Tuples ensure data integrity.

# 8. What is a hash table, and how does it relate to dictionaries in Python3

-  A hash table is a data structure that stores key-value pairs using a hash function for fast access.
- In Python, a dictionary (dict) is built using a hash table, allowing quick lookups in average O(1) time

# 9.Can lists contain different data types in Python?
- Yes. Lists can contain multiple Data Types.

# 10.Explain why strings are immutable in Python.
- Strings are immutable in Python to ensure data integrity and memory safety.
- When we assign a string to a variable, multiple parts of code can reference the same string object. If strings were mutable, changing it in one place would unintentionally affect other parts of code.
- Immutability also allows strings to be hashable, meaning they can be used as dictionary keys or set elements.varied.

# 11.What advantages do dictionaries offer over lists for certain tasks?

- It allows us to store data with labels as keys in dictionary.
- We can access the values using this labels or keys.

# 12.Describe a scenario where using a tuple would be preferable over a list?

- When you storing student details at the time student joining the College and that details are not changed during or after the college also.
- So, that type of data can be stored in the tuple.
- If we store in the list, Every time you can modify that can affect the student profile after the college.

# 13. How do sets handle duplicate values in Python?

- A set is an unordered collection of unique elements.
- When you add elements to a set, any duplicates are discarded automatically.

# 14.How does the “in” keyword work differently for lists and dictionaries?
- In **Lists,**  "in" is used to check wheather that element present in the list or not.
- In **dictionaries,** "in" checks only for keys by default. To check values, you use "value in dict.values()".

# 15.Can you modify the elements of a tuple? Explain why or why not?
- No. We cannot Modify the Elements of a tuple.
- Because in python tuples are created to ensure data integrity. In order to ensure that python makes the tuple immutable.

# 16.What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where each key’s value is another dictionary.
- It is useful for organizing structured data, such as student records, product inventories, or multi-level configurations.

# 17.Describe the time complexity of accessing elements in a dictionary?
- It follows Hashing.
- In Average Case, It takes O(1) complexity.
- In Worst Case, It takes O(n) complexity.

# 18.In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when we want to access elements using indexes, need to maintain order, or store sequential data without key-value pairs.

# 19.Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered, because they use hashing to store and accessing elements instead of indexing.

# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
- **Lists** uses indexing when we want a Element we have to traverse linearly upto the index where that element present.
- **Dictionary** uses hashing which uses hash function which takes a time complexity of O(1) in average Cases.

In [ ]:
# 1.Write a code to create a string with your name and print it.
name = "Hemanth Kumar Rebba"
print(name)

Hemanth Kumar Rebba

In [ ]:
# 2.Write a code to find the length of the string "Hello World".
str = "Hello World"
print(len(str))

11

In [ ]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming".
str = "Python Programming"
print(str[0:3])

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase?
str = "hello"
print(str.upper())

HELLO

In [ ]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
str = "I like apple"
str.replace("apple", "orange")

'I like orange'

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it?
list_1 = list(range(1, 6))
print(list_1)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list_1 = [1, 2, 3, 4]
list_1.append(10)
print(list_1)

[1, 2, 3, 4, 10]

In [ ]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list_1 = [1, 2, 3, 4, 5]
list_1.remove(3)
print(list_1)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list_1 = ['a', 'b', 'c', 'd']
print(list_1[1])

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list_1 = [10, 20, 30, 40, 50]
list_2 = list_1[::-1]
print(list_2)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple_1 = (100, 200, 300)
print(tuple_1)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple_1 = ("red", "green", "blue", "yellow")
print(tuple_1[1:])

('green', 'blue', 'yellow')

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple_1 = (10, 20, 5, 15)
print(min(tuple_1))

5

In [ ]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple_1 = ("dog", "cat", "rabbit")
print(tuple_1.index("cat"))

1

In [ ]:
# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "Banana", "kiwi")
print("kiwi" in fruits)

True

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set_1 = {'a', 'b', 'c'}
print(set_1)
print(type(set_1))

{'a', 'b', 'c'}
<class 'set'>

In [ ]:
# 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set_1 = {1, 2, 3, 4, 5}
set_1.clear()
print(set_1)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set_1 = {1, 2, 3, 4}
set_1.remove(4)
print(set_1)

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
print(set_1 | set_2)

{1, 2, 3, 4, 5}

In [ ]:
# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_1 = {1, 2, 3}
set_2 = {2, 3, 4}
print(set_1 & set_2)

{2, 3}

In [3]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict_1 = {"name" : "Hemanth Kumar", "age" : 18, "ciy" : "Bhimavaram"}
print(dict_1)

{'name': 'Hemanth Kumar', 'age': 18, 'ciy': 'Bhimavaram'}

In [4]:
# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict_1 = {'name': 'John', 'age': 25}
dict_1["country"] = "USA"
print(dict_1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [5]:
# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict_1 = {'name': 'Alice', 'age': 30}
print(dict_1["name"])

Alice

In [9]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict_1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict_1.pop("age")
print(dict_1)

{'name': 'Bob', 'city': 'New York'}

In [10]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict_1 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict_1)

True

In [11]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list_1 = [1, 2, 3, 4]
tuple_1 = (1, 2, 3, 4)
dict_1 = {1 : 2, 2: 3, 3: 4}
print(list_1)
print(tuple_1)
print(dict_1)

[1, 2, 3, 4]
(1, 2, 3, 4)
{1: 2, 2: 3, 3: 4}

In [13]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
import random
list_1 = []
for i in range(5):
  num = random.randint(1, 100)
  list_1 += [num]
list_1.sort()
print(list_1)

[9, 30, 47, 77, 88]

In [14]:
# 28. Write a code to create a list with strings and print the element at the third index.
list_1 = ["Hemanth", "Kumar", "Bijay", "Lokesh"]
print(list_1[3])

Lokesh

In [22]:
# 29.Write a code to combine two dictionaries into one and print the result.
dict_1 = {"Name" : "Hemanth", "Age" : 23}
dict_2 = {"Section" : "D"}
print(dict_1 | dict_2)

{'Name': 'Hemanth', 'Age': 23, 'Section': 'D'}

In [23]:
# 30.Write a code to convert a list of strings into a set.
list_1 = ["hemanth", "Kumar", "Kumar"]
set_1 = set(list_1)
print(set_1)

{'hemanth', 'Kumar'}